.name-title {
    padding-top: 0.2em;
    font-size: 3em;
    font-family: 'Oleo Script', 'Georgia', serif;
    background-image: linear-gradient(to right, #249141, #249c8a, #079cb3, #3464eb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
