.outer-container {
    display: grid;
    grid-template-columns: 25% auto;
}

.controls {
    padding: 2em 0 2.5em 0;
    background-color: #e1e3eb;
    font-size: 0.9em;
    position: -webkit-sticky; /* Safari earlier versions. */
    position: sticky;
    top: 3.2em;
    align-self: start;
}

.ref-shift-controls {
    width: 70%;
    z-index: 9500;
    margin: 0 auto;
}

.ref-shift-text-div {
    display: grid;
    grid-template-columns: 8em auto;
}

.ref-shift-text {
    width: 7em;
    height: 2.6em;
}

.ref-shift-text-error {
    height: 2.6em;
    color: #df3434;
}

.event-selector-div {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}

.event-selector-outer {
    padding-top: 0.5em;
    height: 4.5em;
    overflow-x: auto;
    overflow-y: hidden;
}

.event-selector {
    width: 84em;
    display: block;
}

.event-image {
    width: 4em;
    height: 4em;
    object-fit: contain;
}

.control-buttons {
    width: 70%;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.scenario-selector {
    width: 80%;
    margin: 0 auto;
}

/* Buttons can't have margins, so we must use a blank div instead. */
.spacing {
    padding-top: 0.5em;
}
