/* Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.title-div {
    padding: 1% 3% 1% 3%;
    background-color: #cbeff5;
}

.title {
    font-size: 4em;
    font-family: 'Oleo Script', 'Georgia', serif;
    background-image: linear-gradient(to right, #249141, #249c8a, #079cb3, #3464eb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-div {
    padding-left: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

body {
    background-color: #cbf5d8;
}

#kenobi-image img {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #cbf5d8;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#kenobi-image img.top:hover {
    opacity:0;
}
